<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="/public/css/main.css"> -->
    <title>Final Project</title>
<style>
  body {
    background-color: #CA7575
  }
  #nav {
    display: inline;
    float: left;
  }

  #nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }

  #nav_ {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  #Ul {
    list-style-type: none;
    color: white;
  }

  #oak {
    height:25%;
    width:auto;
  }
  form {
    color: white;
  }
  h1{
    color: white;
  }
  h2{
    color: white;
  }
  h3{
    color: white;
  }
  h4{
    color: white;
  }

</style>
</head>
<div class = 'nav'> 
<center>
<ul id=nav_bar> 

  <li id=nav><a id=nav_ href="/">All Professors</a></li> 
  <li id=nav><a id=nav_ href="/highRate"> Highest Rated Professors</a></li> 
  <li id=nav><a id=nav_ href="/lowRate"> Lowest Rated Professors</a></li> 
  <li id=nav><a id=nav_ href="/professor_form"> Add a Professor review</a></li> 
  <li id=nav><a id=nav_ href="/alpha"> Alphabetically listed Professors</a></li> 
  <li id=nav><a id=nav_ href="/rand"> Random Professor Generator</a></li>
  <li id=nav><a id=nav_ href="/delete-form"> Delete a Professor</a></li>
  <li id=nav><a id=nav_ href="/about_Page"> Project About-Page</a></li>

</ul> 
</center>
</div>
<div id=title>
  <table id=tittle>
    <tr>
      <td><img id=oak src="https://cdn.bulbagarden.net/upload/thumb/3/3e/Lets_Go_Pikachu_Eevee_Professor_Oak.png/180px-Lets_Go_Pikachu_Eevee_Professor_Oak.png"></td>
      <td><h1>Professor Review Hub</h1></td>
    </tr>
  </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
  var socket = io();

  function func() {
      var flag = false
      var inp = document.getElementById("val");
      var fil = inp.value.toUpperCase();
      var ul = document.getElementById("Ul");
      var p = ul.getElementsByTagName("p");
      for (i = 0; i < p.length; i++) {
          a = p[i].getElementsByTagName("a")[0];
          if (a.innerHTML.toUpperCase().indexOf(fil) <= -1) {
              p[i].style.display = "none";          
                document.getElementById("data").style.color = "black";
          } else {
              p[i].style.display = ""; 
              document.getElementById("data").style.color = "white";   
          }
      }
  }

  socket.on('new professor', function(prof){
    console.log("received new professor DATA");
    $('#Ul').append("<li id=prof_list><a href=" + prof.id + ">" + prof.Name + "</a>, + " + prof.University + "</li>");
  });

</script>
<body>
  
    {{{body}}}
   
</body>
</html>

