<form id="delete-form" action="/delete" method="get">
  <h3>Delete a Professor</h3>
  <table>
    <tr>
      <td>Full Professor Name: </td>
      <td><input type="text" name="Name" value=""></td>
    </tr>
    <tr>
      <td colspan="2"><input id="submit" type="submit" value="SUBMIT"></td>
    </tr>
  </table>
</form>