<form id="professor-form" action="/professorAdd" method="post">
  <h3>Add a New Professor</h3>
  <table>
    <tr>
      <td>Name: </td>
      <td><input type="text" name="Name" id="name" value=""></td>
    </tr>
    <tr>
      <td>University: </td>
      <td><input type="text" name="University" id="university" value=""></td>
    </tr>
    <tr>
      <td>Subject: </td>
      <td><input type="text" name="Subject" id="subject" value=""></td>
    </tr>
     <tr>
      <td>Rating: </td>
      <td><input type="text" name="Rating" id="rating" value=""></td>
    </tr>
    <tr>
      <td>Review: </td>
      <td><input type="text" name="Review" id="review" value=""></td>
    </tr>
    <tr>
      <td colspan="2"><input id="submit" type="submit" value="SUBMIT"></td>
    </tr>
  </table>
</form>

<br>
<h4>Current Professors</h4>
<ul id="Ul">
  {{#each a}}
    <li>{{this.Name}}: {{this.University}}</li>
  {{/each}}
</ul>