<form id="professor-form" action="/professor" method="post">
  <h3>Add a New Professor</h3>
  <table>
    <tr>
      <td>Name: </td>
      <td><input type="text" name="Name" value=""></td>
    </tr>
    <tr>
      <td>University: </td>
      <td><input type="text" name="University" value=""></td>
    </tr>
    <tr>
      <td>Subject: </td>
      <td><input type="text" name="Subject" value=""></td>
    </tr>
     <tr>
      <td>Rating: </td>
      <td><input type="text" name="Rating" value=""></td>
    </tr>
    <tr>
      <td>Review: </td>
      <td><input type="text" name="Review" value=""></td>
    </tr>
    <tr>
      <td colspan="2"><input id="submit" type="submit" value="SUBMIT"></td>
    </tr>
  </table>
</form>